:root {
  --primary-accent: #00b297;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background: #f7fdfc;
  overflow: hidden;
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #dcd7de;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-accent);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--primary-accent);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Circle */

.circle {
  position: absolute;
  left: -200px;
  background: radial-gradient(#13e1ff 10%, transparent 50%);
  width: 100px;
  height: 100px;
  z-index: 10;
  animation: blink 8s ease infinite;
}

.speech {
  white-space: nowrap;
  position: absolute;
  left: -200px;
  opacity: 0;
  z-index: 10;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/* Content */

.container {
  width: 100%;
  overflow: hidden;
}

.pages {
  display: flex;
  width: 300%;
  box-sizing: border-box;
}

.page {
  width: 100%;
  z-index: 5;
  transition: all 1s;
}

.content {
  margin-top: 50px;
  line-height: 2;
}

.project {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.project p {
  display: block;
}

.info {
  display: flex;
  padding-bottom: 10px;
  width: 100%;
}

.thumbnail {
  margin-right: 10px;
  width: 300px;
  border: 3px solid var(--primary-accent);
}

.icon {
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.vl {
  margin-right: 10px;
  border-left: 3px solid var(--primary-accent);
  height: 35px;
}

/* Buttons */

.link {
  border-radius: 50%;
}

.link:hover,
.link:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 8px transparent;
  content: url("media/icons/link.png");
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #1472ff;
  }
}

/* Portrait */

@media only screen and (orientation:portrait) {
  body {
    overflow-y: scroll;
  }

  #header {
    height: 160px;
  }

  .lefthand li {
    width: 300px;
  }

  .lefthand li a {
    font-size: 48px !important;
  }

  #navbar li a {
    transition: all 0s;
  }

  .righthand {
    visibility: hidden;
  }

  .content {
    margin-left: 8%;
    margin-right: 8%;
  }

  .pages {
    display: block;
    width: 100%;
  }

  .page {
    transform: none !important;
  }

  .circle {
    display: none;
  }

  .speech {
    display: none;
  }
}

/* Landscape */

@media only screen and (orientation:landscape) {
  .righthand {
    visibility: visible;
  }

  .content {
    margin-left: 25%;
    margin-right: 25%;
  }
}

